<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syonenet.dao.power_userMapper">
  <resultMap id="power_user" type="power_user">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_time" jdbcType="DATE" property="userTime" />
  </resultMap>
  <insert id="insert" parameterType="com.syonenet.entity.power_user">
    insert into power_user (user_id, user_name)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.syonenet.entity.power_user">
    insert into power_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userTime != null">
        user_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTime != null">
        #{userName,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="powerUserList" parameterType="Map" resultType="power_user">
	select * from power_user where 1 = 1
	<if test="user_id != null and user_id != ''">and user_id = #{user_id}</if>
	<if test="user_name != null and user_name != ''">and user_name = #{user_name}</if>
	<if test="user_time != null and user_time != ''">and user_time = #{user_time}</if>
	<!-- 模糊查询 -->
	<if test="conditionsall != null and conditionsall != ''">
		and user_id like concat('%',#{conditionsall},'%')
		or user_name like concat('%',#{conditionsall},'%')
	</if>
  </select>
</mapper>